name: New CICD
on:
  push:
jobs:
  test:
    name: Unit Testing
    runs-on: ubuntu-latest
    steps:
      # - run: echo "hello"
      - name: Checkout code
        uses: actions/checkout@v5
      # - name: List files
      #   run: |
      #     ls -l ${{ github.workspace }}
      - name: run tests
        run: |
          npm install 
          npm test
  build:
    name: Build artifacts
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Build
        run: |
          npm install
          npm run build
      # - name: Store artifacts

